/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
body 
{
    margin: 0;
    padding: 0;
}

#board
{
    float: left;
    width: 47%;
}

#logs
{
    width: 52%;
    border: 1px solid black;
    overflow: auto;
    height: 821px;
    background-color: white;
}

#info
{
    padding-right: 20px;
}

a.cell
{
    width: 100%;
    height: 100%;
    display: block;
    margin-top: -20px;
}

a img.piece
{
    margin-top: 20px;
}